*{
    font-family:Helvetica, sans-serif, Arial
     
}
ul.menu{
    list-style: none;
    line-height: 2.7;
}

.menu li a{
    color: #333;
    text-decoration: none;
    font-family:helvetica;
}

.user-page h2{
    margin-top: 0 !important;
}
